{% extends "base.html" %} {% block head %}
<title>To-Do</title>
{% endblock %} {% block body %}
<div class="container mx-auto my-8 p-4">
  <h1 class="text-3xl font-bold text-center mb-6">
    To-Do List of {{ session['username'] }}
  </h1> 
</div>

<div
  class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
>
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <div class="mb-4">
      <h1 class="text-grey-darkest">Todo List</h1>
      <form action="/" method="POST">
        <div class="flex mt-4">
          <input
          required
            name="content"
            id="content"
            class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
            placeholder="Add a task"
          />
          <button
            type="submit"
            class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
    
            Add
          </button>
        </div>
      </form>
    </div>
    <div>
      {% for task in tasks %}
      <div class="flex mb-4 items-center">
    
        <p
          class="w-full text-grey-darkest {% if task.completed %}line-through{% endif %}"
        >
          {{ task.content }}
        </p>
        <a href="/update/{{task.id}}">
        <button
          class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green border-green hover:bg-green"
        >
          Update
        </button>
        </a>
       <a href="/delete/{{task.id}}">
         <button
          class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red"
        >
          Remove
        </button>
       </a>
      </div>
      {% endfor %}

 
    </div>
  </div>
</div>

{% endblock %}
