{% extends "base.html" %}  {% block body %}

<section  class="flex h-screen overflow-auto text-sm">
      <div
        class="w-1/6 border-r-2 h-full border-gray-200 p-6 flex flex-col justify-between sticky top-0"
      >
        <div class="flex flex-col gap-2">
 

   
            
            <a href="{{url_for('dashboard')}}">
             <div class="flex items-center w-full py-2 rounded-lg pl-2 gap-3 {{ ' bg-blue-200' if current_path == '/' else ' hover:bg-gray-100' }}">
              <img src="{{url_for('static', filename='img/home.svg')}}" alt="">
              <h4 class="font-semibold {{'text-blue-600' if current_path == '/' else 'text-gray-700'}} ">Home</h4>
             </div>
            </a>
            <a href="{{url_for('tasks')}}">
             <div class="flex items-center w-full py-2 rounded-lg pl-2 gap-3 {{ ' bg-blue-200' if current_path == '/tasks' else ' hover:bg-gray-100' }}">
              <img src="{{url_for('static', filename='img/notepad.svg')}}" alt="">
              <h4 class="font-semibold {{'text-blue-600' if current_path == '/tasks' else 'text-gray-700'}} ">Task Master</h4>
             </div>
            </a>
            <a href="{{url_for('passwords')}}">
             <div class="flex items-center w-full py-2 rounded-lg pl-2 gap-3 {{ ' bg-blue-200' if current_path == '/passwords' else ' hover:bg-gray-100' }}">
              <img src="{{url_for('static', filename='img/key.svg')}}" alt="">
              <h4 class="font-semibold {{'text-blue-600' if current_path == '/passwords' else 'text-gray-700'}} ">Password Manager</h4>
             </div>
            </a>






        </div>

        <div>
           <a href="{{url_for('settings')}}">
             <div class="flex items-center w-full py-3 rounded-lg pl-2 gap-5 mb-3 {{ ' bg-blue-200' if current_path == '/settings' else ' hover:bg-gray-100' }}">
              <img src="{{url_for('static', filename='img/settings.svg')}}" alt="">
              <h4 class="font-semibold {{'text-blue-600' if current_path == '/settings' else 'text-gray-700'}} ">Settings</h4>
             </div>
            </a>
          <hr />
          <div class="flex pl-2 py-3">
            <div class="bg-blue-100 rounded-full h-fit p-2">
              <i class="fa-regular fa-user text-blue-500 font-bold px-1"></i>
            </div>
            <div class="pl-2 w-full overflow-hidden">
              <div class="flex justify-between items-center">
                <p id="username" class="font-semibold username">{{session.username}}</p>
              
                <div x-data="{ modelOpen: false }">
                  <button
                    @click="modelOpen =!modelOpen"
                    class="justify-center text-white text-md hover:bg-red-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg px-2 py-2"
                  >
                    <img src="{{ url_for('static', filename='img/log-out.svg') }}" alt="" />
                  </button>

                  <div
                    x-show="modelOpen"
                    class="fixed flex justify-center items-center inset-0 z-50 overflow-y-auto"
                    aria-labelledby="modal-title"
                    role="dialog"
                    aria-modal="true"
                  >
                    <div
                      class="flex items-center justify-center px-4 text-center sm:block sm:p-0"
                    >
                      <div
                        x-cloak
                        @click="modelOpen = true"
                        x-show="modelOpen"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        class="fixed inset-0 transition-opacity bg-gray-700 bg-opacity-60"
                        aria-hidden="true"
                      ></div>

                      <div
                        x-cloak
                        x-show="modelOpen"
                        x-transition:enter="transition ease-out duration-300 transform"
                        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave="transition ease-in duration-200 transform"
                        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                        class="inline-block w-fit max-w-md p-6 my-10 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl xl:max-w-xl"
                      >
                        <div class="flex items-center justify-between">
                          <h1
                            class="text-xl w-full text-center font-bold text-gray-800"
                          >
                            Logout
                          </h1>
                        </div>

                        <p class="mt-2 text-md text-gray-800 text-center w-fit">
                          Are you sure you want to logout of your account?
                        </p>

                        <x-text-input name="id" type="hidden" />

                        <div class="flex justify-center mt-6">
                          <button
                            for="show"
                            @click="modelOpen = false"
                            type="button"
                            class="mr-2 w-1/2 py-2 text-sm tracking-wide capitalize transition-colors border border-gray-300 duration-200 transform bg-white hover:bg-gray-200 rounded-md"
                          >
                            Cancel
                          </button>
                          <button
                            @click="window.location.href='/logout'"
                            class="justify-center text-white text-md bg-red-500 hover:bg-red-600 border border-gray-200 focus:ring-4 focus:outline-none shadow-md focus:ring-gray-100 font-medium rounded-lg text-sm w-1/2 py-2.5 text-center inline-flex items-center"
                          >
                            <span>Logout</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p id="userEmail" class="userEmail text-xs text-gray-500">
                {{session.email}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-10 w-full bg-gray-100">
       {% block content %}



       
       {% endblock %}
      </div>
    </section>

{% endblock %}